@font-face {

  font-family: 'Muller';
    src: url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    
  }
  
  @font-face {
  
  font-family: 'Muller';
    src: url('../fonts/MullerLight.woff') format('woff'),
    url('../fonts/MullerLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
      
  }
  
  @font-face {
  
  font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.woff2') format('woff2');
    font-weight: medium;
    font-style: normal;
    
  }
  
  @font-face {
  font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.woff2') format('woff2');
    font-weight: regular;
    font-style: normal;
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Muller';
    background-color: #f1f1f1;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .container {
    width: 1170px;
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  
  .title {
    margin: 60px 0 22px 40px;
    font-size: 40px;
    line-height: 32px;
    font-weight: 400;
    color: #333333;
  }
  
  /* header */
  
  .header__top {
    display: flex;
    margin: 30px 0;
  }
  
  .header__link:hover {
    color: #333;
  }
  
  .header__icon {
    width: 260px;
    /* display: inline-block; */
  }
  
  .header__tel {
    margin: 18px 0 0 25px;
    font-size: 22px;
    font-weight: 400;
    color: #7e7e7e;
  }
  
  .header__link {
    margin-right: 22px;
    margin-left: auto;
    margin-top: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #cc9933;
  }
  
  .header__bottom {
    display: flex;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 12px;
  }
  
  .header__list {
    display: flex;
    margin-left: 21px;
  }
  
  .header__item {
    margin-right: 20px;
    font-size: 16px;
    color: #494949;
  }
  
  .header__input {
    width: 350px;
    height: 45px;
    margin-left: auto;
    margin-right: 20px;
    padding-left: 10px;
    border: none;
    border-radius: 12px;
    background-color: #f1f1f1;
  }
  
  .header__input-img {
    display: block;
    background-image: url("../img/search.png");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 95% center;
  }
  
  .header__item-link {
    margin: 0 15px 0 0;
    padding: 10px 12px;
    border-radius: 12px;
  }
  
  .header__item-link:hover {
    background-color: #cc9933;
    color: #f1f1f1;
    transition: .5s;
  }
  
  /* Booking */
  
  .center {
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px;
  }
  
  .booking {
    width: 520px;
    display: flex;
  }
  
  .booking__input {
    width: 515px;
    height: 70px;
    margin-bottom: 24px;
    padding-left: 12px;
    border: none;
    border-radius: 12px;
    background-color: #fff;
  }
  
  .booking__img {
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .booking__btn {
    display: inline;
    width: 160px;
    height: 70px;
    margin-right: 28px;
    border: none;
    border-radius: 12px;
    background-color: #cc9933;
    color: #fff;
  }
  
  .booking__btn:hover {
    background-color: #fff;
    color: #333;
    box-shadow: 3px 3px 10px #000;
    cursor: pointer;
  }
  
  .booking__bonus {
    display: flex;
    align-items: center;
  }
  
  .booking__text {
    font-size: 16px;
    color: #999;
  }
  
  .booking__span {
    margin-right: 7px;
    color: #cc9933;
  }
  
  /* special */
  
  .special {
    width: 595px;
    /* margin-left: 55px; */
  }
  
  .special__block {
    width: 595px;
    height: 540px;
    background-image: url("../img/main-image.jpg");
    background-size: 595px 540px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 12px;
  }
  
  .special__main {
    display: block;
    width: 290px;
    margin-left: 40px;
    padding-top: 259px;
    font-size: 66px;
    line-height: 1;
    color: #fff;
  }
  
  .special__price {
    display: inline-block;
    margin-left: 40px;
    margin-top: 12px;
    font-size: 35px;
    color: #a4a3a2;
  }
  
  .special__link {
    margin-left: 70px;
    padding-right: 50px;
    color: #ffcc66;
    font-size: 32px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: 190px 10px;
  }
  
  .special__title {
    width: 200px;
  }
  
  /* About */
  
  .about__text {
    width: 880px;
    padding-left: 43px;
    font-size: 16px;
    line-height: 25px;
    color: #666;
  }
  
  /* Services */
  
  
  .services__item {
    width: 570px;
    height: 322px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-left: 44px;
    padding-top: 195px;
    background-color: #fff;
    border-radius: 12px;
  }
  
  .services__item-first {
    background-image: url("../img/service_1@2x.jpg");
    background-size: 570px;
    background-repeat: no-repeat;
  }
  
  .services__item-second {
    background-image: url("../img/service_2.jpg");
    background-size: 570px;
    background-repeat: no-repeat;
  }
  
  .services__item-third {
    background-image: url("../img/service_3.jpg");
    background-size: 570px;
    background-repeat: no-repeat;
  }
  
  .services__item-fourth {
    background-image: url("../img/service_4.jpg");
    background-size: 570px;
    background-repeat: no-repeat;
  }
  
  /* .services__list {
    flex-wrap: wrap;
  } */
  
  .services__link {
    padding-right: 30px;
    font-size: 22px;
    color: #cc9933;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: 99% 3px;
    
  }
  
  .services__text {
    width: 370px;
    padding-right: 20px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    line-height: 25px;
  }
  
  /* privilege */
  
  .privilege__item {
    width: 275px;
    height: 258px;
    padding-left: 43px;
    margin-right: 17px;
    margin-bottom: 17px;
    background-color: #fff;
    border-radius: 12px;
  }
  
  .privilege__item-first {
    background-image: url("../img/adv_1.svg");
    background-size: 63px 59px;
    background-position: 20% 22%;
    background-repeat: no-repeat;
  }
  
  .privilege__item-second {
    background-image: url("../img/adv_2.svg");
    background-size: 63px 59px;
    background-position: 20% 22%;
    background-repeat: no-repeat;
  }
  
  .privilege__item-third {
    background-image: url("../img/adv_3.svg");
    background-size: 63px 59px;
    background-position: 20% 22%;
    background-repeat: no-repeat;
  }
  
  .privilege__item-fourth {
    background-image: url("../img/adv_4.svg");
    background-size: 63px 59px;
    background-position: 20% 22%;
    background-repeat: no-repeat;
  }
  
  .privilege__item-fifth {
    background-image: url("../img/adv_5.svg");
    background-size: 63px 59px;
    background-position: 20% 22%;
    background-repeat: no-repeat;
  }
  
  .privilege__item-sixth {
    background-image: url("../img/adv_6.svg");
    background-size: 63px 59px;
    background-position: 20% 22%;
    background-repeat: no-repeat;
  }
  
  .privilege__item-seventh {
    background-image: url("../img/adv_7.svg");
    background-size: 63px 59px;
    background-position: 20% 22%;
    background-repeat: no-repeat;
  }
  
  .privilege__item-eighth {
    background-image: url("../img/adv_8.svg");
    background-size: 63px 59px;
    background-position: 20% 22%;
    background-repeat: no-repeat;
  }
  
  .privilege__list {
    /* flex-wrap: wrap; */
  }
  
  .privilege__text {
    width: 190px;
    height: 30px;
    padding-right: 20px;
    margin-top: 117px;
    font-size: 15px;
    line-height: 22px;
    color: #333;
    background-color: #fff;
  }
  
  /* Placing */
  
  .placing__article {
    width: 373px;
    height: 440px;
    margin-right: 17px;
    margin-bottom: 17px;
    padding-bottom: 43px;
    border-radius: 12px;
    background-color: #fff;
  }
  
  .placing__title {
    margin-left: 43px;
  }
  
  .placing__img {
    width: 373px;
    height: 217px;
    background-size: 373px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 12px 12px 0 0;
    border: none;
  }
  
  .placing__img-1 {
    background-image: url("../img/place_1.jpg");
  }
  
  .placing__img-2 {
    background-image: url("../img/place_2.jpg");
  }
  
  .placing__img-3 {
    background-image: url("../img/place_3.jpg");
  }
  
  .placing__img-4 {
    background-image: url("../img/place_4.jpg");
  }
  
  .placing__img-5 {
    background-image: url("../img/place_5.jpg");
  }
  
  .placing__img-6 {
    background-image: url("../img/place_6.jpg");
  }
  
  .placing__img-7 {
    background-image: url("../img/place_2.jpg");
  }
  
  .placing__img-2 {
    background-image: url("../img/place_7.jpg");
  }
  
  .placing__img-8 {
    background-image: url("../img/place_8.jpg");
  }
  
  .placing__article-img {
    width: 373px;
    height: 440px;
    background-image: url("../img/place_9.jpg");
    background-size: 373px 440px;
    background-repeat: no-repeat;
    border-radius: 12px;
    border: none;
    /* z-index: 0; */
    /* background-position: center center; */
  }
  
  .placing__block-view {
    display: block;
    margin-top: 340px;
    margin-left: 30px;
    font-size: 22px;
    color: #fff;
    background-image: url("../img/move.svg.png");
    background-repeat: no-repeat;
    background-position: 290px center;
  }
  
  .placing__info {
    padding: 35px 0 0 42px
  }
  
  .placing__info-text {
    display: inline-flex;
    margin: 0;
    /* margin-right: 55px; */
    font-size: 16px;
  }
  
  .placing__info-grey {
    margin-top: 4px;
    margin-right: 7px;
    font-weight: 400;
    color: #969696;
  }
  
  .placing__info-strong {
    display: inline-flex;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
  }
  
  .placing__info-from {
    margin-top: 4px;
  }
  
  .placing__rate {
    /* display: inline-block; */
    min-width: 100px;
    margin-top: 7px;
    margin-left: 50px;
  }
  
  
  .placing__info-link {
    display: inline-block;
    margin-left: 43px;
    padding: 10px 21px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #cc9933;
  }
  
  .placing__info-link:hover {
    background-color: #fff;
    /* color: #fff; */
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #cc9933 ;
  }
  
  .center {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .placing__article-small {
    display: block;
    font-size: 16px;
    margin: 15px 0 0 43px;
  }
  
  .placing__barca {
    display: block;
    margin: 15px 0 15px 43px;
    color: #999;
  }
  
  h4 {
    display: inline-flex;
    margin: 0;
  }
  
  /* Contacts */
  
  .connection {
    display: flex;
    width: 1170px;
    margin: 0 auto;
  }
  
  .contacts {
    width: 472px;
    /* height: 620px; */
  }
  
  .contacts__list {
    background-color: #fff;
    border-radius: 12px;
  }
  
  .contacts__item {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 20px 43px;
    /* border-bottom: 1px solid #ccc; */
    /* border-bottom-style: groove; */
  }
  
  .contacts__item:not(:nth-child(1))::after {
    position: absolute;
    content: '';
    width: 384px;
    background-color: #ccc;
    top: -15px;
    left: 43px;
    height: 1px;
  }
  
  .contacts__item:nth-child(3)::after {
    top: 5px;
  }
  
  .contacts__item:nth-child(4)::after {
    top: 5px;
  }
  
  .contacts__item:nth-child(5)::after {
    top: -10px;
  }
  
  .contacts__item-title {
    margin-top: 14px;
    font-size: 22px;
    font-weight: 400;
    color: #666;
  }
  
  .contacts__item-text {
    width: 230px;
    /* margin-left: 75px; */
    margin-top: 6px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .contacts__item-block {
    width: 230px;
    margin-left: 35px;
    margin-top: 10px;
    text-align: left;
  }
  
  .contacts__item-tel {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #cc9933;
  }
  
  .contacts__item-title-bold {
    font-weight: 700;
  }
  
  .contacts__item-mail {
    display: inline-block;
    /* margin-left: 45px; */
    color: #cc9933;
  }
  
  .contacts__item-mail:not(nth-last-child) {
    margin-top: 8px;
  }
  
  .contacts__item-mail-span {
    color: #999;
  }
  
  .contacts__item-schedule {
    width: 190px;
    margin-right: 10%;
    margin-top: 19px;
    font-size: 16px;
  }
  
  .contacts__item-link {
    /* margin-left: 2%; */
    padding: 25px 33px;
    color: #cc9933;
    border: 1px solid #cc9933;
    border-radius: 12px;
  }
  
  .contacts__item-link:hover {
    background-color: #cc9933;
    color: #fff;
  }
  
  
  /* Write */
  
  .write {
    width: 340px;
    margin-top: 120px;
    margin-left: 178px;
  }
  
  .write__title {
    margin-bottom: 54px;
  }
  
  .write__input {
    width: 340px;
    height: 70px;
    border: none;
    background-color: #fff;
    margin-bottom: 23px;
    border-radius: 12px;
  }
  
  .write__input::placeholder {
    padding-left: 20px;
  }
  
  .write__textarea {
    border: none;
    border-radius: 12px;
    resize: none;
  }
  
  .write__textarea::placeholder {
    padding-top: 15px;
    padding-left: 20px;
  }
  
  .write__btn {
    width: 340px;
    height: 70px;
    margin-top: 23px;
    border: none;
    background-color: #cc9933;
    border-radius: 12px;
    color: #fff;
  }
  
  .write__btn:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
  }
  
  
  /* Footer */
  
  footer {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    height: 338px;
    margin-top: 22px;
    padding: 52px;
    background-color: #333;
    color: #fff;
    border-radius: 12px;
    background-image: url("../img/sun.png");
    background-repeat: no-repeat;
    background-size: 260px;
    background-position: 82% 120px;
  }
  
  .footer__info-text {
    width: 300px;
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .footer__info-span {
    color: #cc9933;
  }
  
  .footer__contacts-tel {
    margin-top: 29px;
    color: #cc9933;
  }
  
  .footer__contacts-tel-span {
    display: block;
    margin-top: 5px;
  }
  
  .footer__contacts-mail {
    margin-top: 30px;
    color: #cc9933;
  }
  
  .footer__contacts-mail-span {
    display: block;
    margin-top: 5px;
  }
  
  .footer__social-item:nth-child(1) {
    margin-top: 14px;
  }
  
  .footer__social-item {
    margin-bottom: 15px;
  }
  
  
  